body {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  font-weight: bold;
  background-color: #74ebd5;
  background-image: linear-gradient(90deg, #74ebd5 0%, #9face6 100%);
}

article {
  display: grid;
  grid-template: 50px auto 20px / 100%;
  height: 100vh;
}

header,
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

header {
  font-size: 40px;
  text-shadow: 2px 2px gray;
}

footer {
  font-style: italic;
}

form {
  display: grid;
  grid-template: auto auto auto auto / 5em 175px;
  gap: 5px;
}

main {
  padding: 20px 10px 0px 10px;
}

#apr {
  width: 105px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: lightgray;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

button:hover {
  transform: scale(
    1.1
  ); /* Increases the size of the button when cursor hovers over it */
  background-color: green; /* Changes background color when hovered over */
}
