body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}
#title {
  text-align: center;
}

#gif,
#gif2 {
  width: 200px;
  height: auto;
  margin: 50px;
  display: inline-block;
  vertical-align: middle;
}

.App {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: lightblue;
  text-align: center;
  background-image: url("https://media-cldnry.s-nbcnews.com/image/upload/t_fit-1000w,f_auto,q_auto:best/newscms/2019_06/2746941/190208-stock-money-fanned-out-ew-317p.jpg"); /* Replace with your desired image URL */
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;
}

input {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 10px 0;
}

.info {
  margin-top: 20px;
  padding: 15px;
  background-color: #e9ecef;
  border-radius: 8px;
}

.info p {
  margin: 5px 0;
}
